<html>
  <head>
    {% if title %}
    <title>{{ title }} – base title</title>
    {% else %}
    <title>base title default</title>
    {% endif %}


  </head>

  <body>

    <div>Home: <a href="/index">Home</a></div>
    <div>Why this is important: <a href="/history">Background</a></div>
    <div>What am I looking for?: <a href="/training_1">Training</a></div>
    <div>What should I do?: <a href="/training_6">Practice</a></div>
    <div>Is there a boring legal document?: <a href="/legal">Participant_Information</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>

