{% extends "base.html" %}
  {% block content %}
  <h1>Can you identify craters?</h1>
  <br><br>
  Hello, and thank you for visiting this web page. If this is your first time,<br>
  please use the short training section to learn what to do here,<br> 
  or read the background information to learn about this project.<br>
  <br>
    <div class="container"><br>
        <form action"." method="post" >
            <input type="submit" name="selection" value="Background"><br><br>
            <input type="submit" name="selection" value="Training"><br><br>

            
            Press the button below to start evaluating craters:<br>
            <input type="submit" name="selection" value="Start"><br>
        </form>
    </div>
{% endblock %}

