<!-- extend from craterbase layout -->
{% extends "craterbase.html" %}

{% block content %}
  <h1>WARNING: This page is only meant for professional use.<br>
  Do not make a selection unless you are sure of your answer.</h1>

    <div class="container">
      <form action"." method="post" >
        Is this a crater?<br>
        <input type="radio" name="selection" value="Yes"> Yes<br>
        <input type="radio" name="selection" value="No"> No<br>
        <input type="radio" name="selection" value="Re-Center"> Re-Center<br>
        <input type="hidden" name="numID" value="{{item.id}}"><br>
        <input type="submit"><br>
      </form>
    </div>

<img id="picture_to_evaluate">
<img id="picture_to_evaluate" src="{{ url_for('static', filename='crater_outline.png')}}">
<img id="picture_original"><br><br>
Reminder: Prolonged sitting and computer use may have adverse health effects, please moderate your computer time.


    <div>
           Prediction Status: {{attributes.vote_result}}<br>
           Certainty:{{ item.score  }}<br>
           Zoom:{{ attributes.zoom }}<br>
           X val:{{ attributes.x_val }}<br>
           Y val:{{ attributes.y_val }}<br>
           Width:{{ attributes.width }}<br>

           Image name:{{ item.image }}<br>
           ID:{{ item.id }}<br>
           
           

    </div><br>


{% endblock %}

